h1{
    color:cadetblue;

}
.rojo{
    color: red;
    
}
.destacado{
    color: rgb(255, 221, 0);
}
.especial{
    color: rgb(174, 34, 179);
}
h2{

    color: blue;
}
.marrojo{
    color:rgb(189, 50, 25)
}

caption,.blue{
    color: blue;

}
table{
    border-collapse: collapse;
}
th,td,tr ´{
    border: 1.5px solid black;
}
th{
    color: rgb(235, 174, 31);
}
strong{
    color: rgb(235, 174, 31) ;
}
td,.ver{
    color: rgb(45, 207, 45);
}
.rofuerte{
    color: red;
}
div{
    color: rgb(168, 174, 47);
}
.ros{
    color: rgb(249, 27, 149);
}

