 .parrafo1{
    color:steelblue ;
}

a {

    color:darkorange;
}
.nara {
    background-color:wheat;
    border: 1px solid orange;
}
span{
    font-weight: bold;
}
.ama{
    background-color:rgb(241, 242, 183);
}
